/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);

@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/Nexa_Free_Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*---------------- style page -----------------*/

:root {
    --color-white: #fff;
    --color-black: #262626;
    --color-gray: #666;
    --color-blue: #00A2C1;
    --color-red-pink: #F26D7D;
    --color-red-light: #F0645D;
    --color-dark-blue: #2C3E50;
    --primary-color: rgb(107, 30, 230);
    --secondary-color: #536390;
    --secondary-color-white: #fff;
    --font-color: #666666;
    --bg-color: #fff;
    --heading-color: #292922;
    --switch-border-color-light: #ffb200;
    --switch-border-color-dark: #ddd;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --secondary-color-white: #9A97F3;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --switch-border-color-light: #ffb200;
    --switch-border-color-dark: #ddd;
    --color-blue: rgb(255, 255, 255);
    --color-black: #fff;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*------------------- body --------------------*/

html,
body {
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    cursor: default;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    color: var(--font-color);
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*------------- start top header --------------*/

/*------------ top header slides --------------*/

.header-slider img {
    width: 100%;
    height: auto;
}

.slide-text-info {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
}

.slide-text-info h1 {
    font-size: 5.5rem;
    letter-spacing: 1.5px;
    color: var(--secondary-color-white);
    font-family: 'nexa_boldregular';
    padding-bottom: .5em;
}

.apple {
    width: 214px;
    height: 66px;
    display: inline-block;
    background: url(../images/download-btns.png) no-repeat 0px 0px;
    margin-right: 1em;
}

.play-btn {
    width: 214px;
    height: 66px;
    display: inline-block;
    background: url(../images/download-btns.png) no-repeat -237px 0px;
}


/*---------------- start header ---------------*/

.logo {
    float: left;
    text-align: center;
}

.logo a {
    font-size: 3.5em;
    font-weight: 700;
    color: var(--primary-color);
    letter-spacing: 2px;
    display: block;
}

.header-container {
    background-color: var(--color-red-pink);
}

.header {
    position: fixed;
    margin: 0 auto;
    top: 0px;
    z-index: 9;
    font-family: 'nexa_boldregular';
}

/*----------navbar-nav----------*/

.top-nav li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.top-nav li a {
    color: var(--primary-color);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 2.4em 1em;
    display: inline-block;
}

.active,
.top-nav li a:hover {
    background: url(../images/border-top.png) no-repeat 50% 0px;
}

/*------------------ top nav ------------------*/

.nav-top-nav {
    float: right;
    position: relative;
}

.top-nav {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.top-nav li a:hover,
.nav-top-nav a#pull {
    color: var(--color-blue);
}

.nav-top-nav a#pull {
    display: none;
}

/*---------------- menu button ----------------*/

nav a#pull i {
    color: var(--primary-color);
    font-size: 2.5em;
    padding: 0.1em 0;
}

/*------------- feature container -------------*/

.feature {
    margin: 1.5em 20px;
}

.feature-container {
    text-align: center;
    margin: 3% auto;
}

.feature-container h2 {
    font-size: 3em;
    font-weight: 600;
}

.feature-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2em;
}

.feature-content .feature .thumb {
    width: 232px;
    height: 232px;
    background: url(../images/top-icons.png) no-repeat;
    background-size: 444%;
    margin: 10% auto;
}

.feature-content .icon1 .thumb {
    background-position: 1px 0px;

}

.feature-content .icon2 .thumb {
    background-position: -400px 0px;
}

.feature-content .icon3 .thumb {
    background-position: -798px 0px;
}

.feature-content h3 a {
    color: var(--font-color);
    font-size: .9em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.feature-content h3 a:hover,
.feature-content h3 a:focus {
    color: var(--color-red-light);
}

.feature-content p {
    font-size: 1.1em;
    margin: 0 auto;
}

/*-------------- share instantly --------------*/

.share-instantly {
    background-color: var(--color-black);
    padding-top: 3.5em;
}

.share-instantly-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.share-instantly-left div.thumb {
    width: 350px;
    height: 516px;
    background: url(../images/share-divice.png) no-repeat center;
}

.share-instantly-right {
    margin-left: 8em;
    margin-top: 6em;
    width: 100%;
}

.share-instantly-right h3 {
    color: var(--color-white);
}

.header-content {
    font-size: 3.1em;
    font-weight: 600;
}

.share-instantly-right p {
    width: 65%;
}

.header-para {
    font-size: 1.1em;
    color: #AEAEAE;
    line-height: 1.8em;
    margin: 2% 0 5%;
}

.share-instantly-right .slide-content {
    padding: 2%;
}

.share-instantly-right .slide-container {
    max-width: 31em;
    min-height: 12em;
}

.share-img .slide-content div.thumb {
    max-width: 150px;
    width: 100%;
    height: 93px;
    background: url(../images/share-slide-pic.png) no-repeat center;
    background-size: 100%;
}

/*------------------- feature -----------------*/

.div-feature-content {
    background: #313131;
    padding-top: 3em;
}

.feature-content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.feature-left {
    margin-top: 3em;
    width: 100%;
}

.feature-left .slide-container {
    max-width: 29em;
    height: 50%;
    background-color: var(--color-white);
    color: var(--font-color);
}

.feature-img .slide-content div.thumb {
    max-width: 100px;
    width: 100%;
    height: 100px;
    background: url(../images/brush.png) no-repeat center;
    background-size: 100%;
}

.feature-left h3 {
    color: var(--color-white);
}

.feature-left p {
    width: 60%;
}

.feature-right div.thumb {
    width: 350px;
    height: 578px;
    background: url(../images/features-divice.png) no-repeat center;
}

/*------------------- gallery -----------------*/

.gallery {
    background-color: var(--bg-color);
}

.gallery-header {
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

.gallery-header h3 {
    color: var(--color-red-light);
    font-size: 3.5rem;
    font-weight: bolder;
}

.gallery-header p {
    max-width: 40%;
    color: var(--font-color);
}

.gallery-img .swiper-slide div.thumb {
    max-width: 400px;
    width: 100%;
    height: 340px;
    background: no-repeat center;
}

.gallery-slide-para {
    padding: 20px 8px 5px 8px;
    border-right: 1px solid var(--color-white);
    background-color: var(--color-black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.gallery-slide-para p {
    color: var(--color-white);
}

.gallery-slide-para a {
    color: var(--color-red-light);
}


.gallery-slide-para a i.fas {
    margin-right: 8px;
}

/*------------------ download -----------------*/

.download {
    background-color: var(--color-red-light);
    padding: 7em 0;
}

.download-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.download-left {
    text-align: center;
    margin-top: 4.2em;
}

.download-left div.thumb {
    width: 304px;
    height: 299px;
    background: url(../images/download-logo.png) no-repeat center;
}

.download-right {
    margin-left: 5em;
}

.download-right a {
    font-size: 1.5em;
    color: var(--color-white);
}

.download-right a:hover {
    color: var(--secondary-color);
}

.download-right h3 {
    color: var(--color-white);
    font-size: 3.5em;
    font-weight: bolder;
}

.download-right .download-logo {
    margin-top: 3em;
}

.download-right .download-logo a:hover {
    opacity: .6;
}

/*--------------- compatibility ---------------*/

.compatibility {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: var(--switch-border-color-dark);
}

.compatibility h3,
.compatibility h5 {
    font-weight: bolder;
}

.compatibility h3 {
    font-size: 2em;
}

.compatibility-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 60px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.compatibility-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.compatibility-content span.thumb {
    display: inline-block;
    margin-right: 15px;
}

.compatibility-content span.thumb:hover {
    opacity: .5;
}

.compatibility-ios .ip1 span.thumb {
    width: 21px;
    height: 39px;
    background: url(../images/multiple-divice1.png) no-repeat 1px -18px;
}

.compatibility-ios .ip2 span.thumb {
    width: 21px;
    height: 35px;
    background: url(../images/multiple-divice1.png) no-repeat -35px -22px;
}

.compatibility-ios .ip3 span.thumb {
    width: 47px;
    height: 57px;
    background: url(../images/multiple-divice1.png) no-repeat -69px 0px;
}

.compatibility-ios .ip4 span.thumb {
    width: 35px;
    height: 50px;
    background: url(../images/multiple-divice1.png) no-repeat -129px -8px;
}

.compatibility-android .ar1 span.thumb {
    width: 24px;
    height: 42px;
    background: url(../images/multiple-divice2.png) no-repeat 1px -6px;
}

.compatibility-android .ar2 span.thumb {
    width: 24px;
    height: 42px;
    background: url(../images/multiple-divice2.png) no-repeat -39px -6px;
}

.compatibility-android .ar3 span.thumb {
    width: 24px;
    height: 42px;
    background: url(../images/multiple-divice2.png) no-repeat -78px -6px;
}

.compatibility-android .ar4 span.thumb {
    width: 24px;
    height: 42px;
    background: url(../images/multiple-divice2.png) no-repeat -118px -6px;
}

.compatibility-android .ar5 span.thumb {
    width: 24px;
    height: 42px;
    background: url(../images/multiple-divice2.png) no-repeat -158px -6px;
}

.compatibility-android .ar6 span.thumb {
    width: 67px;
    height: 44px;
    background: url(../images/multiple-divice2.png) no-repeat -195px -4px;
}

.compatibility-android .ar7 span.thumb {
    width: 31px;
    height: 49px;
    background: url(../images/multiple-divice2.png) no-repeat -274px 1px;
}

.compatibility-android .ar8 span.thumb {
    width: 64px;
    height: 45px;
    background: url(../images/multiple-divice2.png) no-repeat -317px -3px;
}

/*------------------- footer ------------------*/

.footer {
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer-left {
    float: left;
    font-size: 1.1em;
    font-weight: 800;
    color: var(--font-color);
    margin-top: 2em;
}

.footer-left a {
    color: var(--font-color);
}

.footer-left a:hover {
    color: var(--color-red-light);
}

.footer-right {
    float: right;
    width: 44%;
}

.footer-right p {
    font-size: 1.1em;
    color: var(--font-color);
}

.footer-right form {
    padding-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.footer-right form input[type="email"] {
    padding: .7em;
    width: 100%;
    max-width: 22em;
    outline: none;
    border: 1px solid #5d5d5d;
    color: #5d5d5d;
    margin-right: 10px;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -webkit-appearance: none;
    transition: border-color 0.3s;
    -o-transition: border-color 0.3s;
    -ms-transition: border-color 0.3s;
    -moz-transition: border-color 0.3s;
    -webkit-transition: border-color 0.3s;
    opacity: .3;
}

.footer-right form input[type="email"]:hover::-webkit-input-placeholder {
    color: var(--color-red-light);
}

.footer-right form input[type="email"]:hover::-moz-placeholder {
    color: var(--color-red-light);
}

.footer-right form input[type="email"]:hover:-ms-input-placeholder {
    color: var(--color-red-light);
}

.footer-right form input[type="email"]:hover::-ms-input-placeholder {
    color: var(--color-red-light);
}

.footer-right form input[type="email"]:hover::placeholder {
    color: var(--color-red-light);
}

.footer-right form input[type="email"]:hover {
    border: 1px solid var(--color-red-light);
    color: var(--color-red-light);
    opacity: 1;
}

.footer-right form button {
    padding: .7em 2em;
    border-radius: .3em;
    background-color: var(--color-red-light);
    color: var(--color-white);
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.footer-right form button:hover {
    background-color: #9B9B9B;
}

/*--------------- swiper slider ---------------*/

.slide-container {
    width: 80%;
    padding: 3%;
    display: inline-block;
    text-align: left;
}

.slide-container .slide-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.slide-container .slide-content p {
    width: 22vw;
    margin-right: 8%;
    padding-bottom: 10%;
    padding-top: 10%;
}

.swiper-pagination {
    display: inline-block;
    text-align: left;
    padding-left: 4em;
    padding-bottom: 2em;
}

.swiper-pagination-bullet {
    background: none;
    border: 1.5px solid var(--color-gray);
}

.swiper-pagination-bullet-active {
    border: 1.5px solid var(--color-red-light);
}

/*---------- switch on/off dark mode ----------*/

/*-- the switch - the box around the slider --*/

.switch-wrapper {
    position: fixed;
    bottom: 12px;
    left: 18px;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*-------- hide default HTML checkbox ---------*/

.switch input {
    display: none;
}

/*---------------- the slider ----------------*/

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    border: 2px solid var(--switch-border-color-light);
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 2.55px;
    background-color: var(--switch-border-color-light);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;

}

#label_on_off {
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 5px;
}

input:checked+.slider {
    background-color: var(--bg-color);
    border: 2px solid var(--switch-border-color-dark);
}

input:checked+.slider:before {
    -webkit-transform: translateX(22.3px);
    -ms-transform: translateX(22.3px);
    transform: translateX(22.3px);
    background-color: var(--switch-border-color-dark);
}

/*-------------- rounded sliders --------------*/

.slider {
    border-radius: 35px;
}

.slider:before {
    border-radius: 50%;
}

/*----------- button scroll top top -----------*/

.btn-scroll {
    background: url(../images/to-top1.png) no-repeat center;
    background-size: 100%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 45px;
    width: 100%;
    height: 45px;
    z-index: 9;
    background-color: var(--bg-color);
    border-radius: 50%;
    cursor: pointer;
}